@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 78%, 98%);
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
h1 {
  color: hsl(234, 14%, 74%);
}

.toggle-container {
  color: hsl(234, 14%, 74%);
  margin-bottom: 40px;
}

.container {
  margin: auto;
  max-width: 100%;
  width: 1200px;
}

.spanhead {
  color: hsl(234, 14%, 74%);
  font-size: 15px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.price-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
  color: hsl(233, 13%, 49%);
}

.price-box.middle {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  transform: scale(1.1);
}
.price-box.middle > * {
  transform: scale(0.87);
}

.price-box h4 {
  margin: 0;
}
.price-box p {
  font-size: 4em;
  margin: 15px 0;
  margin: 0;
  width: 250px;
}

.price-box .monthly {
  display: none;
}

.show-monthly .price-box .monthly {
  display: block;
}

.show-monthly .price-box .annually {
  display: none;
}

.price-box ul {
  border-top: 1px solid hsl(234, 14%, 74%);
  padding: 0;
  list-style-type: none;
}
.price-box ul li {
  border-bottom: 1px solid hsl(234, 14%, 74%);
  padding: 15px 0;
  font-size: 14px;
}
.price-box button {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.price-box button:hover {
  background: white;
  color: hsl(237, 63%, 64%);
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border: 0.1px solid hsla(232, 13%, 33%, 0.705);
}

.price-box.middle button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}

.price-box.middle button:hover {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
}

.price-box.middle ul,
.price-box.middle ul li {
  border-color: #f0f0f0;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-container label {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  height: 30px;
  width: 60px;
}

.toggle-container label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  height: 25px;
  width: 25px;
  transition: transform 0.4s ease;
}

.toggle-container input {
  position: absolute;
  left: -9999px;
}

.toggle-container input:checked + label .ball {
  transform: translateX(30px);
}

@media screen and (max-width: 930px) {
  .price-box.middle {
    transform: scale(1);
  }

  .price-box.middle > * {
    transform: scale(1);
  }
}
